
/*===== Home Header CSS =====*/

.navbar{
    padding: 15px 0px;
    padding-right: 5px;
}
.navbar-brand{
    display: inline-block;
    overflow: hidden;
    border-radius: 80px;
}

/*===== Home Header CSS END =====*/

/*===== Blog Header CSS =====*/

.blog-header{
    border-bottom: 2px solid rgb(226, 222, 222) !important;
}
.blog-header .navbar-brand{
    border-radius: 0px;
    transform: scale(1.2);
}

/*===== Blog Header CSS END =====*/


/*===== Home Main CSS =====*/

.header-hero-content{
    padding-top: 150px;
}
.header-hero-content .header-title{
    line-height: 50px;
}
@media (max-width: 767px) {
    
    .header-hero-content{
        padding-top: 180px;
    }
    .header-hero-content .header-sub-title{
        font-size: 19px;
    }
    .header-hero-content .header-title{
        font-size: 24px;
        line-height: 40px;
        padding: 0px 4px;
    }
}

/* ===== Home Main CSS End =====
/* 
.container1 {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
  }
  
  .container1 > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  } */ */




/*===== Why to Choose CSS =====*/

#why ul{
    padding-top: 10px;
    margin-left: 20px;
    font-size: 16px;
}
#why li{
    text-transform: uppercase;
}

/*===== Why to Choose CSS End=====*/

#contact .submit-btn{
    padding: 0px 20px;
    margin: 0px;
    text-align: left;
}

ol, ul{
    padding-left: 0.2rem !important ;
}



.alert{
    width: 100%;
    background: rgb(0, 255, 106);
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    display: none;
}



.subscribeAlert{
    width: 100%;
    background: rgb(0, 255, 106);
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    display: none;
}